 HTTP GET Method RFC7231 Compliance Request

<!-- Thanks for filing an issue! Before submitting, please fill in the following information. -->

**What would you like to be enhanced**
: http get 요청 시 ConnectionName등을 body로 제공하는데, 이 부분을 Query Parameter로 변경 요청 드립니다.

**Why is this needed**
: RFC7231 준수 웹 어플리키이션의 경우 Get 요청 시 Body 삽입 할 수 없습니다. 

**Proposed solution**
: CCMRest.go 부분 중
	var req struct {
		ConnectionName string
	}

==>  ConnectionName := c.QueryParam("connectionName")

으로 변경


@Jeong-hunSIM  (@seokho-son @jihoon-seo @hermitkim1)

- 이슈 감사드립니다. 

- 음... 제안 주신 형식(Query Param)은 초기 버전에서 제공했었던 규격이었습니다만,
  - 관련 참고: https://github.com/cloud-barista/cb-spider/blob/31e1be44c2926fe42f101e1c67e3d4225a5360ed/api-runtime/rest-runtime/CCMRest.go#L357

- REST 인자 전달 방식 관련하여 커뮤니티 전체 차원에서 관련된 협의가 있었으며, 
   그 후 결정된 사항(GET-Body)으로 수정 및 제공 중에 있습니다.
  - RFC7231 및 그 시점 여러가지 상황을 반영하여 결정된 사항이었습니다만,
  - 올려주신 이슈를 기회로 다시 한번 점검해볼 필요가 있어 보이네요. 

- 혹시, 직접적으로 겪고 계시는 GET-Body 처리가 불가한 사례(환경)을 좀더 설명 해주시면 
  - 재 논의 시에 도움이 될 것 같습니다. 
  - 가능하시다면 간단 설명 부탁 드리겠습니다. 
  ※ 커뮤니티에서는 Swagger 처리시 GET-Body 불가한 사례를 겪었던 사례가 있습니다. 




커뮤니티 전체 논의 당시에 없었던 사람으로써 호기심에 간단히 스터디한 내용을 공유드립니다. 😃 
(매우 많이 부족한 내용이겠습니다 😅 )

표준 내용을 바탕으로한 제 생각은 🤔, "GET method에서 body 활용하는 것은 선택적"이라고 생각했습니다.
이유는 표준에 "보내지 않아야한다(MUST NOT send xxx)"로 명시되어 있지 않아서 입니다.

> A payload within a GET request message has no defined semantics;
   sending a payload body on a GET request might cause some existing
   implementations to reject the request. - [Section 4.3.1 in RFC 7231 (JUNE 2014)](https://datatracker.ietf.org/doc/html/rfc7231#section-4.3.1)

또한, "정의된(Defined) 시멘틱스를 갖지 않음", "몇몇(some) 기존 구현체가 a payload body를 가지 GET 요청을 거절할 가능성(might)이 있다." 정도로 해석되기에 필요시에는 Body를 활용 가능하지 않을까?라고 생각하여 조금 더 찾아보니 아래와 같은 내용을 찾을 수 있었습니다.

"Body는 구현할 수 없음으로 정의하면 오히려 규격을 위반하는 것일 수 있고,  일라스틱서치를 포함한 다양한 애플리케이션에서 GET method에 body값을 포함하는 경우를 볼 수 있다"는 글이 있고요. [HTTP GET 메소드와 body](https://brunch.co.kr/@kd4/158)

Golang Resty package의 경우 Default는 Disable 이지만, 사용자가 선택할 수 있도록 옵션을 제공하고 있었습니다.
[Allow GET request with Payload in Go Resty GitHub](https://github.com/go-resty/resty#allow-get-request-with-payload)

반면, [Wikipedia 메시지 포맷](https://ko.wikipedia.org/wiki/HTTP에서는 요청에 Body가 없음으로 되어있네요.

짧은 소견을 읽어주셔서 감사드립니다 ^^

- @hermitkim1, Thanks for interest and sharing.

안녕하세요 답변 감사드립니다.
저의 케이스의 경우는 테스트를 위해 React web 위에서 Axios 모듈을 이용하여 Get요청시 Get Module 자체가 Body를 못 싫게 되어서 
부득이하게 카페모카 버전에서 queryparameter로 변경하여 테스트한 경우가 있어서 제안요청 드렸습니다.

@Jeong-hunSIM 

- 공유 캄사드립니다.
- 공유 주신 내용도 참고하여 협의 해보도록 하겠습니다.  

@Jeong-hunSIM (@seokho-son @jihoon-seo @hermitkim1 @sykim-etri )

- 협의 결과 Get-Query Param API 추가(또는 변경)하기로 하였습니다.
- 제안에 감사드립니다. 

**[Plan]**
- Backward Compatibility 고려
- Get-Query Param API 추가


@Jeong-hunSIM 

- Completed via https://github.com/cloud-barista/cb-spider/commit/0ea2c47eef24eed7234d895e42f4dd5daaff036c
- Get-Body 또는 Get-Query Param API 둘다 사용 가능
- Since https://github.com/cloud-barista/cb-spider/releases/tag/v0.5.1

---

- Test Cases 추가 및 시험 완료(by Mock Driver)
  - 추가위치: https://github.com/cloud-barista/cb-spider/blob/0ea2c47eef24eed7234d895e42f4dd5daaff036c/api-runtime/rest-runtime/test/full-test/mock-full_test.sh#L21
  - 참고: 자원별 Get-Body and Get-Query Param API 관련 시험 항목
    ```
    CONN_CONFIG=mock-config01
    
    curl -sX GET http://localhost:1024/spider/vpc -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/vpc?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    curl -sX GET http://localhost:1024/spider/vpc/vpc-01 -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/vpc/vpc-01?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    
    curl -sX GET http://localhost:1024/spider/securitygroup -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/securitygroup?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    curl -sX GET http://localhost:1024/spider/securitygroup/sg-01 -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/securitygroup/sg-01?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    
    curl -sX GET http://localhost:1024/spider/keypair -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/keypair?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    curl -sX GET http://localhost:1024/spider/keypair/keypair-01 -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/keypair/keypair-01?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    
    curl -sX GET http://localhost:1024/spider/vm -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/vm?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    curl -sX GET http://localhost:1024/spider/vm/vm-01 -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/vm/vm-01?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    
    curl -sX GET http://localhost:1024/spider/vmstatus -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/vmstatus?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    curl -sX GET http://localhost:1024/spider/vmstatus/vm-01 -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/vmstatus/vm-01?ConnectionName=${CONN_CONFIG} -H 'Content-Type: application/json' |json_pp
    
    curl -sX GET http://localhost:1024/spider/controlvm/vm-01?action=suspend -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/controlvm/vm-01?'ConnectionName='${CONN_CONFIG}'&action=suspend' -H 'Content-Type: application/json' |json_pp
    
    curl -sX GET http://localhost:1024/spider/controlvm/vm-01?action=resume -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/controlvm/vm-01?'ConnectionName='${CONN_CONFIG}'&action=resume' -H 'Content-Type: application/json' |json_pp
    
    curl -sX GET http://localhost:1024/spider/controlvm/vm-01?action=reboot -H 'Content-Type: application/json' -d '{ "ConnectionName": "'${CONN_CONFIG}'"}' |json_pp
    curl -sX GET http://localhost:1024/spider/controlvm/vm-01?'ConnectionName='${CONN_CONFIG}'&action=reboot' -H 'Content-Type: application/json' |json_pp
  ```